*{

    box-sizing: border-box;
}

/* .App{
    background-color: black;
    
} */

footer{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 20px;
    
}

#socialButtons{
    display: flex;   
    width: 100vw;
    justify-content: space-evenly;
    justify-items: center;
    
}