/* *{
    box-sizing: border-box;
} */

header{
    display: flex;
}

main{
    height: 800px;
    background-image: url('../images/mainBackground.jpg');
    background-size: 100%100%;
    background-repeat: no-repeat;
    
}

#hero{
    width:100%;
}



#logo{
    border-radius: 25px;
    margin: 20px;
}