* {
  box-sizing: border-box;

}
header {
  display: flex;

  

  color: rgb(67, 221, 16);
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: centers;
  align-items: center;
  
  
  
  
}
p {
  background-color: rgba(0, 0, 0, 0.755);
  font-size: 18px;
  width: 300px;
}
h1 {
  display: flex;
  justify-content: center;
  border: 1px inset rgb(67, 221, 16);
  background-color: rgba(0, 0, 0, 0.755);
  width: 100%;
}

.meetUsList{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  
  
}

.meetUsPhoto{
  display: flex;
  flex-direction: row;
 width: 300px;
 margin: 15px;
 
 

}


 

  