* {
  box-sizing: border-box;
}
.projectsHeader {
  color: rgb(67, 221, 16);

  width: 100%;
}
.projectsMain {
  display: flex;

  color: rgb(67, 221, 16);
}

h1 {
  background-color: black;
  width: 100%;
}

#projectList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 1000px;
}
